body {
  background-color: #111413;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98vw;
  height: calc(99vh - 100px);
  padding-bottom: 100px;
  overflow: auto;
}
.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98vw;
  height: calc(99vh - 100px);
  padding-bottom: 100px;
  overflow: auto;
}
.spinner {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spinner span {
  position: absolute;
  bottom: 50px;
  font-size: 50px;
}
.currChart {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.switchChild {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.navbar {
  position: fixed;
  bottom: 5px;
}

@media screen and (min-width: 2001px) {
  .currChart {
    width: 20%;
    font-size: 50px;
  }
}
@media screen and (max-width: 2000px) {
  .currChart {
    width: 40%;
    font-size: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .currChart {
    width: 50%;
    font-size: 55px;
  }
}
@media screen and (max-width: 768px) {
  .currChart {
    width: 85%;
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .currChart {
    width: 100%;
    font-size: 35px;
  }
}

@media screen and (max-height: 500px) {
  .currChart {
    margin-top: -100px;
    width: 80vh;
    font-size: 30px;
  }
}
